<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercisep3.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=DESKTOP-D8OASIU;Initial Catalog=ProdiTI;User ID=sa;Password=Fismljr10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>